BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ContinuationIndentWidth: 2

ColumnLimit: 0
SortIncludes: false

BreakBeforeBraces: Allman
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

PointerAlignment: Right
ReferenceAlignment: Right

BinPackArguments: false
BinPackParameters: false

AlignAfterOpenBracket: Align
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: false

IndentAccessModifiers: false
IndentCaseLabels: true
IndentCaseBlocks: true
AccessModifierOffset: -2

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 2